.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(28, 72, 91);
}

.chessboard-container {
    margin: 20px 0; /* Add space around the chessboard */
}

.player-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.white-player {
    /* Additional styling specific to the white player */
}

.black-player {
    /* Additional styling specific to the black player */
}